<div class="bg-light border col-md-4">
    <h3>@Prod.Name</h3>
    <p>ID: @Prod.Id</p>
    <div class="form-group">
        <label for="fave-@Prod.Id">Add to Favorites</label>
        <input type="checkbox" id="fave-@Prod.Id" onchange="@FavoriteUpdated">
    </div>
    <p>Show Properties: <input type="checkbox" @bind="Prod.IsActive"/></p>
    @if (Prod.IsActive)
    {
        @foreach (var prodProp in Prod.ProductProps)
        {
            <p>@prodProp.Key - @prodProp.Value</p>
        }
    }
    <_EditDeleteButtons IsActive="Prod.IsActive"/>
</div>

@code {
    [Parameter]
    public Demo_Product Prod { get; set; }
    
    [Parameter]
    public EventCallback<bool> OnFaveUpdated { get; set; }

    private async Task FavoriteUpdated(ChangeEventArgs e)
    {
        await OnFaveUpdated.InvokeAsync((bool) (e.Value ?? throw new InvalidOperationException()));
    }
}